body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}





/*font-family: 'Lato', sans-serif;
font-family: 'Kalam', cursive;*/