* {
	box-sizing: border-box;

}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

img {
  max-width: 100%;
  height: auto;
}

li {
	list-style-type:none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

