.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px 0 10px;

  &--small {
    max-width: 650px;
  }

  &--left {
    
    @mixin atLarge {
      margin-left: 132px;
    }
  }

  &--no-r-margin {
    margin-right: 0;
  }


  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}