.large-hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 100%;
    transform: translateY(-100%) translateX(-50%);
    left: 50%;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 1200px) {
      position: absolute;
      top: 105%;
      transform: translateY(-105%) translateX(-50%);
      left: 50%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }

    &__contact-info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 73%;
      max-width: 300px;
      text-align: center;
  }

  
    &__description {
      color: #mainBlue;
      font-family: 'Lato', sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0 auto;

/*      @mixin atSmall {
        font-size: 1.875rem;
      }*/
    }

}