.large-hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 80%;
    transform: translateX(-50%);
    left: 50%;
    width: 100%;
    margin: 0 auto;
    text-align: center;

        @mixin atSmall {
          position: absolute;
          top: 85%;
          transform: translateX(-50%);
          left: 50%;
        }
        
        @mixin atMedium {
          position: absolute;
          top: 75%;
          transform: translateX(-50%);
          left: 50%;
        }
  }

    &__contact-info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 73%;
      max-width: 300px;
      text-align: center;
  }

  
    &__description {
      color: #mainBlue;
      font-family: 'Lato', sans-serif;
      font-size: .7rem;
      font-weight: 400;
      margin: 0 auto;

      @mixin atSmall {
        font-size: 1.2rem;
      }

      @mixin atMedium {
        font-size: 1.5rem;
      }
    }

}