.page-section {
	padding: 1rem 0;

    @mixin atSmall {
      padding: 1.5rem 0;
    }

    @mixin atMedium {
      padding: 3.75rem 0;
    }

  &--small {
    padding: 1rem 0;

    @mixin atSmall {
      padding: 1.75rem 0;
    }
  }
}