.primary-nav {
	align-content: center;
	align-items: center;
	align-self: center;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	li {
		padding-right: 20px;
		flex-direction: row;
	}

	a {
		font-family: 'Lato', sans-serif;
		font-size: 1.5rem;
		letter-spacing: 1px;
		color: $mainBlue;
		font-weight: 400;
		padding: 12px 0;
		flex-direction: row;
	}
}