.site-header {
	display: flex;
	padding: 10px 0;
	width: 100%;
	position: absolute;
	z-index: 2;

	&__logo {
		display: none;


		@mixin atMedium{
			display: inline-block;
			margin-right: 40px;
			z-index: 200;
		}
	}

	&__logo:last-child {
		margin-right: 0; 
	}

	&__btn-container {
		display: flex;
		align-content: center;
		align-items: center;
		order: 1;
	}

}