.site-footer {
	background-color: #fff;
	color: #fff;
	text-align: center;

	p {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 1.5rem;
		color: #3F5765;
		letter-spacing: 1px;
	}
}