.who-we-are {

	background-color: #F4F8F8;

	&__gallery {
		flex-direction: row;
		flex-wrap: nowrap;

		@mixin atSmall {
			text-align: center;
		}
	}

	img {
		transition: transform .5s; 
		min-width: 100%;

		@mixin atSmall {
			min-width: 80%;
			height: auto;
		}

		@mixin atMedium {
			min-width: 30%;
			margin: 0 auto;
		}

		@mixin atLarge {
			min-width: 15%;
		}
	}

	img:hover {

		@mixin atLarge {
			transform: scale(1.1);
		}
		
	}

	img:last-child {
		margin-right: 0;
	}

	p {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 1.1rem;
		color: #555555;
		letter-spacing: 1px;
		max-width: 746px;
		text-align: center;

		@mixin atSmall {
			font-size: 1.5rem;
		}
	}

	.subtitle {
		font-family: 'Kalam', cursive;
		font-size: 1.3rem;
		color: $mainBlue;
		letter-spacing: 1.33px;

		@mixin atSmall {
			font-size: 2rem;
		}
	}
}



